body,html {
	background-color: white; 
	height: 100%;
    width: 100%; 
    margin: 0;
    padding: 0;
    overflow: hidden;   
}
div#wrapper {
	width:100%; 
	height:100%;
	overflow: hidden;   
} 
			
div#messageBox {
	clear: both;
	width: auto;
	height: 3%;
	overflow: auto;
	background-color: #f0f0f0;
	padding: 4px;
	border: 1px solid black;
	}
			
div#input {
	clear: both;
	width: auto;
	padding: 4px;
	background-color: #e0e0e0;
	border: 1px solid black;
	border-top: 0px
}
			
div.hidden {
	display: none;
	}
			
span.alert {
	font-style: italic;
		} 

#loading {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  display: block;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
  text-align: center; 
  display: none;     
} 

#loading-image {
  position: absolute;
  top: 50%;
  left: 50%; 
  z-index: 100;
} 

#error {
	color: #D8000C;
    background-color: #FFBABA;
	width:99%;  
	height:45px; 
	border-bottom: 2px solid white; 
	border:2px solid red; 
	text-align: justify; 
	display: none; 
}

#error .imgLeft {
	float: left; 
	width:40px; 
	height:40px; 
	width:7%; 
}
 
#error .txtRight{
	width: 93%;
	height:100%;  
	float:left;
	text-align: center;  
	font-size: 0.9em;
}

#info {
	color: black;
    background-color: #aceab6;
	width:99%;  
	height:45px; 
	border-bottom: 2px solid white; 
	border:2px solid black; 
	text-align: justify; 
	display: none; 
}

#info .imgLeft {
	float: left; 
	width:40px; 
	height:40px; 
	width:7%; 
}
 
#info .txtRight{
	width: 93%;
	height:100%;  
	float:left;
	text-align: center;  
	font-size: 0.9em;   
} 

#title {
	background-color:#c6c6c6; 
	width:100%;  
	height: 39px; 
	border-bottom: 2px solid white;
} 

#titleLeft {
	float:left;
	height:100%;
	width:50%; 
	color:#666666;   
}

#titleLeft span {
	font-size: 100%; 
	font-weight: bold; 
	color: #666; 	
} 

#titleRight {
	float:right;
	width: 50%; 
	color:#666666; 
}

#titleRight span {
	font-size: 100%; 
	font-weight: bold; 
}


#footer {
	background-color:#c6c6c6; 
	width:100%; 
	height: 47px; 
	border-top: 2px solid white;  
} 

#central {
	background-color: #b5b5b5;   
	margin:0 0;  
	width:100%; 
	height:100%;   
	overflow: auto;  
} 

#central #cercaUsuari {
	background-color: #c6c6c6; 
	height:100%; 
	width:100%;
	text-align:center;   
}

#central #cercaUsuari #titolCerca {
	font-size: 3em; 
	font-weight: bold; 
	color: black; 
}

#central #cercaUsuari #inputCerca {
	width:70%; 
	height:10%;  
	margin-top: 10px; 
}

#central #cercaUsuari #cercaSubmit {
	background-color:#009fcc; 
	color:white;   
	width:30%; 
	height:10%; 
	max-height:50px; 
	border:3px solid grey; 
	margin-left: 35%;
	margin-top: 10px;  
} 

#central #cercaUsuari #cercaSubmit span{
	 position: relative; 
	 font-size:150%;    
}

#central #grid{ 
	 overflow: hidden;  
} 

#central #list{  
	_overflow: auto;      
} 

#central #yourTurn {
	background-color: #aceab6;  
	width:100%; 
	margin: 0 0;
	overflow: auto;   
} 

#central #opponentTurn {
	background-color: #efefa1;  
	width:100%;
	margin: 0 0;
	overflow: auto; 
}

#central #toConfirm {
	background-color: #e8c999;  
	width:100%;
	margin: 0 0;
	overflow: auto; 
}

#central #gameTitle {
	text-align: center; 
}

#central #gameTitle .titleBig {
	font-size: 250%; 
	font-weight: bold; 
	color: black;   
}

#central #gameTitle #tableLogin .input { 
	width:30%; 
	height:10%;  
	margin-top: 10px;   
}

#central #gameTitle #tableLogin #inputLogin {
	margin-left: 45px; 
} 

#central #gameTitle #tableLogin #buttonLogin {
	background-color:#009fcc; 
	font-size: 150%;  
	color:white;   
	width:25%; 
	height:60%; 
	max-height:35px; 
	border:3px solid grey; 
	margin-left: 50%; 
	margin-top: 10px; 
} 


#central .board .row #cell00 {
	border-right:1px solid black; 
	border-bottom:1px solid black; 
}

#central .board .row #cell01 { 
	border-right:1px solid black; 
	border-bottom:1px solid black;
}

#central .board .row #cell02 { 
	border-bottom:1px solid black;
} 

#central .board .row #cell10 {
	border-right:1px solid black; 
	border-bottom:1px solid black;
}

#central .board .row #cell11 {
	border-right:1px solid black; 
	border-bottom:1px solid black;
}

#central .board .row #cell12 {
	border-bottom:1px solid black; 
}

#central .board .row #cell20 {
	border-right:1px solid black; 
}

#central .board .row #cell21 {
	border-right:1px solid black; 
}

#central .content { 
	text-align: center;
	display: inline-block; 
	width:100%;   
}

#central .content .game {
	border:3px solid white; 
	height:70px; 
	width:98%; 
	margin-bottom: 5px; 
	color: #888888; 
}
#central .content .game .info {
	text-align: left;  
	float:left;
	width:59%;  
	height:70px; 
} 
#central .content .game .actions{ 
	height:70px;  
	width:40%;  
	text-align: right; 
	float: right;  
	margin-right: 1px;  
} 

#central .content .game .actions a img {
	height: 54px; 
	width: 47px; 
}

#central .board { 
	margin:auto auto; 
	width:100%; 
	height:100%;   
	} 
#central .board .row {
    text-align:center;
    width:100%;
    height:33%;
    float:top;
    background-color: #b5b5b5; 
    font-size: 5em;      
} 

#central .board .row .cell {  
	width:32.8%;
	height:99%;
	float:left;
	background-color: #b5b5b5; 
	display:table-cell;
	vertical-align:middle;  
} 

#footer .back {
	margin-left:5px; 
	float:left; 
	width:41px; 
	height:43px;
}

#footer .quit {
	float:right; 
	width:41px; 
	height:43px;
} 

#footer .refresh {
	margin-left:5px;
	float:left;
	width:41px; 
	height:43px; 
}

#footer .new {
	margin-left:33%; 
	float:left; 
	width:54px; 
	height:43px; 
} 