#banner-inner-wrapper {
    /* background: #40474f url(../images/menu-bg.png) repeat-x;
	border-top: 1px solid #6b7481;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); */ 
} 
#banner-inner {
    width:100%; 
} 
#title { 
	height:6em;   
	background-color: #40474f; 
	color:white; 
} 
#title #logo {
	height:100%;  
	float:left; 
}
#title #logo img {
	max-width: 100px; 
    vertical-align: middle;
}
#title #text {
	height:100%; 
	float:left; 
}
#title #header_options {
	width:81%; 
	height:100%; 
	float:left;	    
} 
#title #header_options ul {
	list-style-type:none; 
	text-align: center; 
	width:auto; 
	height:100%; 
	margin:0 auto; 
} 
#title #header_options ul li {
	display:inline; 
	margin-left:10px; 
} 
#logo {
    
} 
#menu-nav {
    vertical-align: bottom;
    text-align: right;
}

#menu-button {
    vertical-align: bottom;
    float: right;
    padding: .375em; /* 6/16 = .375em */
    margin: 0 .375em 0 2em; /* 6/16 = .375em, 32/16 = 2em */
    opacity: .7;
    cursor: pointer;
     
    transition: all .2s linear;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
     
    background-color: #4D8EBC;
    background-image: linear-gradient(top,rgba(100, 152, 190, .5),rgba(30, 82, 120, .5));
    background-position: left bottom;
    background-repeat: repeat-x;
}

#menu-button.selected,
#menu-button:active {
    opacity: 1;
     
    box-shadow: 0 1px  1px rgba(120, 120, 120, .2);
    background-color: #2E6288;
    background-image: linear-gradient(top,rgba(25, 68, 99, .5),rgba(30, 82, 120, .5));
     
    margin-bottom: -.375em; /* 6/16 = .375em */
}

#menu-button-inner {
    background: transparent url(../images/menu-bg.png) no-repeat 0 0;
    width: 78px;
    height: 41px;
}

#menu-drink {
    clear: both;
    position: absolute;
    width: 17em; 
    height: 100%; 
    background-color: #2e6288;
    color:white; 
    box-shadow: 0 2px 2px rgba(25, 68, 99, .4);
    display: none; /* Not shown initially */
    background-color: #515e68; 
}

#menu-drink UL {
	margin:0; 
	padding:0; 
	list-style-type: none;
}

#menu-drink UL LI {
    _padding: 0;  
    z-index: 0;
    height: 37px; 
    background: url('../images/navigation-normal.png') repeat;
} 
#menu-drink A { 
	color: white; 
	text-decoration: none; 
	text-align: center;
	margin-top: 10px!important;  
}
#menu-drink A UL LI {}
#menu-drink UL A LI DIV {padding-top:10px;}

#content {
	position: relative; 
	height:105%; 
	float:right; 
	width:68em;  
	background-color: grey; 
	color: white; 
}

#content #player {
	width:100%; 
	height:100%; 
} 

#content #player P { 
	height: 3em;
	margin: 0;
	padding-top: 2em; 	
	text-align: center; 
}


#content #player #start {
	float:left; 
	width:50%; 
	height:5em; 
	background-color: black;    
}


#content #player #stop {
	float:right; 
	width:50%; 
	height:5em;   
}

#content #player #volume {
	width:100%; 
	height:5em; 
}

#content #player #volume #addVolume{
	float:left; 
	width:50%; 
	height:5em; 
}

#content #player #volume #delVolume{
	float:right; 
	width:50%; 
	height:5em; 
}

@media screen and (min-width: 480px) {
    /* 
     * Made all the items display horizontally as the screen is wide 
     * enough to accommodate it
     */
}
@media screen and (min-width: 560px) {
    /*
     * Made small adjustments to the margin and padding around 
     * the menu items
     */
}
@media screen and (min-width: 768px) {
    /*
     * Made the items display next to the logo. At this width the screen is 
     * large enough so that there is no need to hide the menu
     */
}
@media screen and (min-width: 1024px) {
    /*
     * At this width, everything appears little cramped so I made the 
     * padding around the whole thing larger to give the illusion of space. 
     * I also used larger and cooler icons.
     */
}
